<?xml version="1.0"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    cacheDirectory=".phpunit.cache"
    colors="true"
    testdox="true"
    failOnEmptyTestSuite="true"
    failOnRisky="true"
    failOnWarning="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutChangesToGlobalState="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">tests/unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <file>enginescript-site-optimizer.php</file>
            <directory suffix=".php">includes</directory>
            <file>uninstall.php</file>
        </include>
    </source>

    <logging>
        <junit outputFile="coverage/junit.xml"/>
    </logging>

    <php>
        <const name="WP_TESTS_PHPUNIT_POLYFILLS_PATH" value="vendor/yoast/phpunit-polyfills"/>
    </php>
</phpunit>
